mixin addFieldset(fieldset, langTmpl, div)
    - var id = fieldset[0]
    fieldset(id=id)    
        ul.MMM--blockFormList(style="display:block")
            each item in fieldset[1]
                include ./__field/_item.pug
                           
+addFieldset(fieldset, langTmpl, div)