mixin addOption(opt, selectedItems)
    if (opt[0] === selectedItems[item])
        -var _ifSelected = 'selected'
    
    option(value=opt[0] selected=_ifSelected)=opt[1]
       
+addOption(opt, selectedItems)